<footer class="flex flex-col text-center text-white bg-black h-36">
    <p class="mb-7 m-5">© 2025 Gimenez Jorge Mateo | Desarrollador web</p>
    <p>Gracias por visitar mi sitio. ¡Nos vemos pronto! 😊</p>
</footer>