<header class="flex justify-center items-center p-4 bg-zinc-800 border-b border-gray-20">
    <nav>
        <ul class="flex space-x-6">
            <li><a href="/" class="text-white hover:text-red-700 font-medium">Inicio</a></li>
            <li><a href="/sobre-mi" class="text-white hover:text-red-700 font-medium">Sobre Mí</a></li>
            <li><a href="/skills" class="text-white hover:text-red-700 font-medium">Skills</a></li>
            <li><a href="/proyectos" class="text-white hover:text-red-700 font-medium">Proyectos</a></li>
            <li><a href="/contacto" class="text-white hover:text-red-700 font-medium">Contacto</a></li>
        </ul>
    </nav>
</header>