---
import skillsData from '../data/skills.json';
const carusel = [...skillsData.skills , ...skillsData.skills , ...skillsData.skills , ...skillsData.skills]
---
<div id="skills"class="bg-stone-900  text-white p-8 shadow-lg">
  <h2 class="text-3xl font-bold text-center mb-6 text-red-500">Mis Skills</h2>
  <div class="overflow-hidden w-full">
    <div class="flex whitespace-nowrap animate-scroll">
      {carusel.flatMap((category, index) =>
        category.items.map((skill, i) => (
          <div class="inline-block text-center mx-4">
            <img
              src={skill.image}
              alt={skill.name}
              class="w-12 h-12 object-contain transition-transform duration-300 hover:scale-110"
            />
            <p class="text-sm text-gray-400 mt-2">{skill.name}</p>
          </div>
        ))
      )}
    </div>
  </div>
</div>
 
